<!DOCTYPE html>
<html>
    <heade>
        <title>Nome do Ecomerce</title>
    </heade> 
    <body>
       <h4> Bem vindo ao Nome do Ecomerce</h4>
       <p><a href={{url_for("compra")}}> Minhas Compras</a></p>
       <p><a href={{url_for("venda")}}>Minhas Vendas</a></p>
       <p><a href={{url_for("categoria")}}>Categorias</a></p>
       <p><a href={{url_for("cadastrar_anuncio")}}> + Anúncio</a></p>
       <p><a href={{url_for("usuario")}}>Cadastrar</a></p>
       <p><a href={{url_for("entrar")}}>Entrar</a></p>
    </body>
</html>